.project-info-containers {
    margin: 20px 16px 0 16px;
    font-size: 14px;
  }

  caption {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(20deg, #5F9EA0 55%, #72A0C1 100%);
    padding: 2px;
    border-bottom: 1px solid #ccc;
  }

  .project-invoices-expenditures-tbl {
    width: auto;
    height: 350px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
  }

  .project-info-tbl {
    display: flex;
    width: auto;
    height: 150px;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }

  .project-jobs-tbl {
    display: flex;
    height: 450px;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    overflow-y: scroll;
  }

  .project-jobs-tbl,
  .project-invoices-tbl,
  .project-expenditures-tbl {
    padding: 0px;
  }

  .project-invoices-tbl,
  .project-expenditures-tbl {
    flex: 1;
    height: auto;
    position: relative;
    margin-bottom: 5px;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    overflow-y: scroll;
}

.project-jobs-tbl::-webkit-scrollbar,
.project-invoices-tbl::-webkit-scrollbar,
.project-expenditures-tbl::-webkit-scrollbar {
  width: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.project-jobs-tbl::-webkit-scrollbar,
.project-invoices-tbl::-webkit-scrollbar-thumb,
.project-expenditures-tbl::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #888;
}

.project-jobs-tbl::-webkit-scrollbar,
.project-invoices-tbl::-webkit-scrollbar-thumb:hover,
.project-expenditures-tbl::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.project-invoices-tbl {
    flex-basis: 60%;
  }
  
  .project-expenditures-tbl {
    flex-basis: 40%;
  }

.project-jobs-tbl thead,
.project-invoices-tbl thead,
.project-expenditures-tbl thead,
.project-jobs-tbl caption,
.project-invoices-tbl caption,
.project-expenditures-tbl caption {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;
}

.project-invoices-tbl .expanded-table {
  z-index: 1;
  position: relative;
}
