{% extends 'base.html' %}
{% load tz %}
{% load humanize %}
{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'Projects/table.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Projects/table-expandable.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Projects/pagination.css' %}">
  
{% endblock %}

{% block content %}
<div class="btns-search-container">
<div class="btns-search">
  <ul>
    <li>
  <a href="{% url 'projects:invoices-create' %}" class="add-button">Pridėti naują sąskaitą</a>
</li>
</ul>
  <ul>
    <li>
  <form method="GET" action="{% url 'projects:invoices-list' %}" class="search-form">
    <input type="text" name="search" placeholder="Ieškokite pagal projektą/būseną" class="search-field" value="{% if search_query %}{{ search_query }}{% endif %}">
    <button type="submit" class="search-button">Search</button>
  </form>
  </li>
  </ul>
</div>
</div>
<div class="data-container">
    <div class="table-container-expandable">
      <table class="my-table-expandable">
        <thead>
          <tr>
            <th>Sąskaitos nr.</th>
            <th>Projektas</th>
            <th>Pridėjimo data</th>
            <th>Termino data</th>
            <th>Terminas (dienomis)</th>
            <th>Suma, eur</th>
            <th>Apmokėta, eur</th>
            <th>Būsena</th>
            <th>Veiksmas</th>
          </tr>
        </thead>
        <tbody>
          {% for invoice in invoices %}
          <tr class="expandable-row">
            <td>{{ invoice.invoice_no }}</td>
            <td>{{ invoice.project_id.project_name }}</td>
            <td>{{ invoice.operation_date|date:"Y-m-d" }}</td>
            <td>{{ invoice.deadline_date|date:"Y-m-d" }}</td>
            <td>{{ invoice.term_days|default:'' }}</td>
            <td>{{ invoice.amount|default:0 }} €</td>
            <td>{{ invoice.total_paid|default:0 }} €</td>
            <td>
                {% if invoice.status == 'Apmokėta' %}
                  <span class="badge success">Apmokėta</span>
                {% elif invoice.status == 'Dalinai apmokėta' %}
                  <span class="badge partly-success">Dalinai apmokėta</span>
                  {% else %}
                  <span class="badge waiting">Neapmokėta</span>
                {% endif %}
              </td>
            <td>
              <a href="{% url 'projects:invoicePayments-create' invoice.invoice_no %}" class="btn btn-add">Pridėti mokėjimą</a>
              <a href="{% url 'projects:invoices-delete' invoice.invoice_no %}" class="btn btn-delete">Ištrinti</a>
              <a href="{% url 'projects:invoices-update' invoice.invoice_no %}" class="btn btn-edit">Redaguoti</a>
            </td>
          </tr>
          <tr class="expanded-content">
            <td colspan="9">
            <div class="expanded-content-wrapper">
              <div class="expanded-table">
                <table>
                  <thead>
                    <tr>
                      <th>Apmokėjimo data</th>
                      <th>Apmokėta suma, eur</th>
                      <th>Veiksmas</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for payment in invoice.invoice_payments.all %}
                    <tr>
                      <td>{{ payment.payment_date|date:"Y-m-d" }}</td>
                      <td>{{ payment.paid_amount }} €</td>
                      <td>
                        <a href="{% url 'projects:invoicePayments-delete' payment.id %}" class="btn btn-delete">Ištrinti</a>
                        <a href="{% url 'projects:invoicePayments-update' payment.id %}" class="btn btn-edit">Redaguoti</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
  

    <div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
      {% if page_obj.previous_page_number == 1 %}
        <a href="?page=1&search={{ request.GET.search|urlencode }}">1</a>
      {% else %}
        <a href="?page=1&search={{ request.GET.search|urlencode }}">1</a>
        <a href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search|urlencode }}">{{ page_obj.previous_page_number }}</a>
      {% endif %}
    {% endif %}

    <span class="current">
      {{ page_obj.number }}
    </span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search|urlencode }}">{{ page_obj.next_page_number }}</a>
    {% endif %}
  </span>
</div>

    {% block body %}
    <script src="{% static 'Projects/js.js' %}"></script>
    {% endblock %}
{% endblock %}